.ItemList{
    margin-top: 1%;
    display: grid;
    list-style: none;
    grid-template-columns: 3rem, 3rem, 3rem;
    grid-template-rows: 2rem, 2rem;
    grid-template-areas: 
                        "li li li"
                        "li li li";
    margin-left: 10%;

}

.ItemList li{
    width: 20vw;
    height: fit-content;
    background-color: #308fac;
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.ItemList li p{
    margin: 1%;
}

.ItemList li img{
    margin-top: 2%;
    height: 10vw;
    border-radius: 10px;
}